.slider h3, .slider h5, .clients h3 {
    text-shadow: 1px 1px 3px rgba(0,0,0,.5);
}

.about img {
    border-radius: 20%;
    /* margin-left: 150px; */
    margin-top: 20px;
}
.about-p {
    text-align: justify;
    font-size: 16px;
}

.parallax-container {
    height: 20%;
}

.parallax img {
    filter: grayscale(1);
    opacity: .5 !important;
}

.clients img {
    max-width: 150px;
    filter: drop-shadow(1px 1px 3px rgba(0,0,0,.5));
}

.services .card-panel li {
    margin-bottom: 28px;
}
.services .card-panel p {
    margin-bottom: -8px;
    text-align: justify;
}

.contact p {
    text-align: justify;
}

section, footer {
    padding: 20px 0px;
}