.slider h3, .slider h5 {
    text-shadow: 1px 1px 5px rgb(0, 0, 0);
}
.clients h3 {
    text-shadow: 1px 1px 3px rgba(0,0,0,.5);
}


.nav-wrapper .brand-logo {
    font-size: 23px;
    line-height: 63px;
}

.about img {
    border-radius: 20%;
    /* margin-left: 150px; */
    margin-top: 25px;
}
.about .about-title {
    text-align: center;
    font-size: 13px;
    font-weight: 400;
}
.about-p {
    text-align: justify;
    font-size: 16px;
}

.parallax-container {
    height: 20%;
}

.parallax img {
    filter: grayscale(1);
    opacity: .5 !important;
}

.clients img {
    max-width: 150px;
    filter: drop-shadow(1px 1px 3px rgba(0,0,0,.5));
}

.services .card-panel li {
    margin-bottom: 28px;
}
.services .card-panel p {
    margin-bottom: -8px;
    text-align: justify;
}

.portfolio p {
    text-align: justify;
}

.portfolio ol li {
    font-weight: 400;
    margin-bottom: 30px;
}
.portfolio ol li p {
    font-weight: 300;
}

/* .contact p {
    text-align: justify;
}

.contact hr {
    background-color: white;
    opacity: .8;
} */

section, footer {
    padding: 20px 0px;
}
footer {
    text-align: justify;
}
footer .maps {
    margin-top: 13px;
}
footer .alamat {
    padding-right: 20px !important;
}
footer iframe {
    box-shadow: 0px 0px 5px black;
    border-radius: 5px;
}
.footer-copyright {
    padding: 10px;
    text-align: center;
}
/* .contact iframe {
    margin: -15px auto;
} */